<div class="jumbotron text-center">
  <h1>Angular 2.0 Sample application</h1>
  <p class="lead">Welcome to Angular Application, built with Angular CLI. This page utilized custom theme from Bootswatch and Navbar from Bootstrap examples from online.</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Alpha</h3>
    <p>This is first letter of alphabets in English Language. This letter lives in Addison, Texas.</p>
  </div>
  <div class="col-md-4">
    <h3>Beta</h3>
    <p>B for Beta. You can check back for this application later.</p>
  </div>
  <div class="col-md-4">
    <h3>Charlie</h3>
    <p>C for Charlie, which is third letter in English Alphabets.</p>
  </div>
</div>
